/**********************************/
/* Reset
/**********************************/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/**********************************/
/* Variáveis
/**********************************/
:root {
	--white0: #fff;
	--white1: #f5f5f5;
	--black: #000;
	--red: #ff0000;
	--dark-red: #fd3534;
	--ligth-pink: #f3a0fd;
	--dark-pink: #e10bf9;
	--ligth-green: #0bf96a;
	--dark-green: #049a40;
}

/**********************************/
/* Estilos gerais
/**********************************/
html {
	scroll-behavior: smooth;
}

img { 
	width: 100%;
	height: 100%;
}

ul {list-style: none;}

a {
	color: inherit;
	text-decoration: none;
}

p {
	line-height: 20px;
	font-size: 1rem;
}

.title-p {
	text-align: center;
	margin-top: 90px;
	margin-bottom: 10px;
	font-size: 2.4rem;
}

hr {
	width: 170px;
	border-radius: 20px;
	margin: 20px auto;
	border: 1.8px solid var(--dark-pink);
}

.section {
	max-width: 1200px;
	width: 900px;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.title {
	margin: 20px 0;
	text-align: center;
	font-size: 2rem;
	font-weight: normal;
}

img {
	display: block;
	width: 100%;
}

/**********************************/
/* Header
/**********************************/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	z-index: 9;
	background-color: var(--ligth-green);
}

.header-c {
	max-width: 1200px;
	width: 900px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 150px;
}

#toggle {
	display: none;
	width: 50px;
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid var(--dark-pink);
	box-shadow: 0 0 10px var(--ligth-pink),
				0 0 20px var(--ligth-pink);
}

span.toggle_line {
	display: block;
	width: 35px;
	height: 3px;
	margin: 3px auto;
	border-radius: 20px;
	background-color: var(--dark-pink);
	transform-origin: center;
	box-shadow: 0 0 10px var(--ligth-pink);
	transition: .2s ease-in-out;
}

button#toggle.action-menu {
	border-color: var(--red);
	box-shadow: 0 0 10px var(--red);
}

button.action-menu .toggle_line:nth-child(1) {
	transform: translateY(2px) rotate(45deg);
	background-color: var(--red);
	box-shadow: 0 0 10px var(--red);
}

button.action-menu .toggle_line:nth-child(2) {
	display: none;
}

button.action-menu .toggle_line:nth-child(3) {
	transform: translateY(-4px) rotate(-45deg);
	background-color: var(--red);
	box-shadow: 0 0 10px var(--red);
}

.navbarmobile {
	display: none;
}

.navbar ul {
	display: flex;
	align-items: center;
	gap: 10px;
}

.navbar-list__link {
	position: relative;
	color: var(--black);
	transition: .5s;
	padding: 2px 5px;
}

.navbar-list__link:hover {
	color: var(--dark-green);
}

.navbar-list__link::before {
	position: absolute;
	content: "";
	width: 0%;
	height: 3px;
	bottom: 0;
	left: 0;
	border-radius: 20px;
	transition: .5s ease-in-out;
	background-color: var(--dark-green);
}

.navbar-list__link:hover::before {
	width: 100%;
}

/**********************************/
/* Menu mobile
/**********************************/
@media (max-width: 900.9px) {
	.header-c {
		width: 100%;
		padding: 0 8%;
	}
	.navbar {
		display: none;
	}

	#toggle {
		display: block;
		z-index: 12;
	}

	.navbarmobile ul {
		position: fixed;
		width: 300px;
		height: 100vh;
		top: 80px;
		right: 0;
		z-index: 10;
		background-color: var(--ligth-green);
	}

	.navbarmobile ul li{
		padding: 20px 0px;
		border-bottom: 2px solid var(--dark-green);
	}

	.navbarmobile-list__link {
		width: 100%;
		padding: 10px 50px;
	}

	.open-menu {
		display: block;
	}
}

/**********************************/
/* Quem somos
/**********************************/
.somos-c {
	padding: 10px;
}

.somos-text {
	flex: 50%;
}

.somos-image {
	flex: 50%;
}

@media (max-width: 900.9px) {

	.title-p {
		font-size: 2rem;
	}

	.title {
		font-size: 1.5rem;
	}

	.section {
		width: 100%;
	}

	.somos-c {
		flex-direction: column;
		justify-content: center;
	}

	.somos-text {
		width: 70%;
	}
	
	.somos-image {
		flex: 40%;
	}
}
/**********************************/
/* Nossos cursos
/**********************************/
.cursos-c {
	padding: 10px;
	gap: 20px;
}

.curso {
	width: 30.2%;
	padding: 4px;
}

.curso__titulo {
	text-align: center;
	margin: 10px 0;
}

.curso__descricao {
	padding: 10px;
}

@media (max-width: 900.9px) {
	.cursos-c {
		
		flex-direction: column;
	}

	.curso {
		width: 70%;
	}
}

/**********************************/
/* Planos
/**********************************/
.planos {
	padding: 20px 0;
	background-color: var(--ligth-pink);
}

.planos-c {
	justify-content: space-between;
}

.plano {
	width: 32.5%;
	padding: 10px;
	align-self: flex-end;
	border: 1px solid var(--ligth-green);
}

.plano__titulo {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 10px;
}

.plano__preco {
	display: block;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

.plano__preco sup {
	font-size: 1rem;
}

.plano__divisor {
	width: 20px;
	margin-top: 10px;
	margin-bottom: 8px;
	border-color: var(--ligth-green);
}

.plano-lista {
	padding: 0 30px;
}

.plano-lista li {
	padding: 4px 0;
	position: relative;
}

.plano-lista li::before {
	position: absolute;
	content: "";
	height: 4px;
	width: 4px;
	left: -8px;
	top: 46%;
	background-color: var(--ligth-green);
	border-radius: 50%;
}

.plano__btn-comprar {
	display: block;
	width: 200px;
	text-align: center;
	padding: 4px 10px;
	font-size: 1.8rem;
	margin: 10px auto;
	font-weight: bold;
	border: 1px solid var(--ligth-green);
}

.plano:nth-child(3) {
	background-color: var(--ligth-green);
	border-color: var(--dark-pink);
}

.plano:nth-child(3) .plano__divisor, .plano:nth-child(3) .plano__btn-comprar {
	border-color: var(--dark-pink);
}

.plano:nth-child(3) li::before {
	background-color: var(--dark-pink);
}

@media (max-width: 900.9px) {
	.section {
		width: 100%;
		margin: 0;
	}

	.planos-c {
		gap: 10px;
		width: 100%;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.plano {
		width: 60%;
		align-self: center;
		margin-bottom: 10px;
	}

	.plano-lista {
		max-width: 600px;
		max-width: 300px;
		margin: 0 auto;
	}
}
/**********************************/
/* Vantagens
/**********************************/
.vantagens-c {
	gap: 10px;
}

.vantagem {
	width: 32.5%;
	position: relative;
}

.vantagem::before {
	position: absolute;
	content: "";
	height: 25px;
	left: 6px;
	border: 4px solid ;
}

.vantagem:nth-child(1).vantagem::before,
.vantagem:nth-child(4).vantagem::before {
	border-color: var(--ligth-green);
}

.vantagem:nth-child(2).vantagem::before,
.vantagem:nth-child(5).vantagem::before {
	border-color: var(--dark-pink);
}

.vantagem:nth-child(3).vantagem::before,
.vantagem:nth-child(6).vantagem::before {
	border-color: var(--dark-green);
}

.vantagem__titulo {
	font-weight: normal;
	margin-left: 20px;
	margin-bottom: 10px;
}

@media (max-width: 900.9px) {

	.vantagens-c {
		gap: 10px;
		justify-content: center;
	}
	
	.vantagem {
		min-width: 250px;
		margin-bottom: 10px;
		width: 40%;
	}
}

/**********************************/
/* Newsletter
/**********************************/
.newsletter {
	background-color: var(--ligth-green);
}

.newsletter-c {
	margin-bottom: 0;
	padding: 30px 0;
	justify-content: space-between;
}

.newsletter-text h2 {
	font-size: 2rem;
}

.newsletter-form form{
	padding: 10px;
	background-color: var(--dark-pink);
}

.newsletter-form input {
	height: 40px;
	width: 300px;
	padding-left: 10px;
	font-size: 1.1rem;
}

.newsletter-form button {
	height: 40px;
	padding: 0 10px;
	font-size: 1.5rem;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

@media (max-width: 900.9px) {

	.newsletter-c {
		gap: 20px;
		justify-content: center;
	}

	.newsletter-form input {
		width: 70%;
	}

	.newsletter-form button {
		font-size: 1rem;
	}
	
}

/**********************************/
/* Footer
/**********************************/
.footer {
	background-color: var(--ligth-pink);
}

.footer-c {
	margin-top: 0;
	margin-bottom: 0;
	padding: 30px 0;
	justify-content: space-between;
}

@media (max-width: 900.9px) {

	.footer-c {
		width: 100%;
		gap: 20px;
		padding: 50px 20px;
		justify-content: center;
	}
	
}